{%extends "base.html"%}
{%block contenido%}
<div class="container">

    <div class="card">
        <div class="header">
            <p>Calificador de Alimentos</p>
        </div>

        <div class="body">
                <div class="row">
                    <label>Alimento</label>
                    <p>{{nombre}}</p>
                </div>

                <div class="row">
                    <div class="col-2">
                        <p>{{grasa}}</p>
                    </div>

                    <div class="col-2">
                        <p>{{proteinas}}</p>
                    </div>

                    <div class="col-2">
                        <p>{{carbohidratos}}</p>
                    </div>
                </div>

            </button>

            </form>
            
        </div>
    </div>

</div>
{%endblock%}